@model Project1.Models.UpdateUserViewModel


@{
    var roles = (IEnumerable<SelectListItem>)ViewData["RoleName"];
    var countries = (IEnumerable<SelectListItem>)ViewData["CountryName"];
    var states = (IEnumerable<SelectListItem>)ViewData["StateName"];
    var cities = (IEnumerable<SelectListItem>)ViewData["CityName"];
}

<h1>Delete User's Details</h1>
<form method="post" action="DeleteUser" class="was-validated">


    <div class="mb-3">
        <label for="Id" class="form-label">Id</label>
        <input id="Id" type="text" class="form-control" asp-for="Id" readonly>
    </div>

    <div class="mb-3">
        <label for="FirstName" class="form-label">First Name</label>
        <input id="FirstName" type="text" class="form-control" asp-for="FirstName" readonly>
    </div>

    <div class="mb-3">
        <label for="MiddleName" class="form-label">Middle Name</label>
        <input id="MiddleName" type="text" class="form-control" asp-for="MiddleName" readonly>
    </div>

    <div class="mb-3">
        <label for="LastName" class="form-label">Last Name</label>
        <input id="LastName" type="text" class="form-control" asp-for="LastName" readonly>
    </div>

    <div class="mb-3">
        <label for="Gender" class="form-label">Gender</label>
        <input id="Gender" type="text" class="form-control" asp-for="Gender" readonly>
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" readonly>
        <span class="text-danger field-validation-valid">
            @Html.ValidationMessage("CustomErrorEmail")
        </span>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" asp-for="PhoneNumber" pattern="[0-9]{10}" readonly>
        <span class="text-danger field-validation-valid">
            @Html.ValidationMessage("CustomErrorPhone")
        </span>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Nationality</label>
        <input type="text" class="form-control" asp-for="Nationality" readonly>
    </div>

    <div class="mb-3">
        <label for="Role_Id" class="form-label">Role</label>
        <select asp-for="Role_Id" asp-items="roles" class="form-control" readonly></select>
    </div>

    <div class="mb-3">
        <label for="Country_Id" class="form-label">Country</label>
        <select asp-for="Country_Id" asp-items="countries" class="form-control" readonly></select>
    </div>

    <div class="mb-3">
        <label for="State_Id" class="form-label">State</label>
        <select asp-for="State_Id" asp-items="states" class="form-control" readonly></select>
    </div>

    <div class="mb-3">
        <label for="City_Id" class="form-label">City</label>
        <select asp-for="City_Id" asp-items="cities" class="form-control" readonly></select>
    </div>

    <button type="submit" class="btn btn-danger">Delete</button>

</form>

